<<<<<<< HEAD
body{
    font-family: Verdana;
    text-align: center;
    font-size: 2em;
}

#mySubmit{
    font-size: 1em;
=======
body{
    font-family: Verdana;
    text-align: center;
    font-size: 2em;
}

#mySubmit{
    font-size: 1em;
>>>>>>> 8aabc23 (Updating and mergin files. Removing Tet from outside <html> & footer text.)
}